/* General styling */
body {
    background-image: url('Qback2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    max-width: 100%;
  }
  .pla {
    position: absolute;
    font-size: 55px;
    color: red;
    background-color: white; /* Change the background color */
    width: 46%; /* Change the width of the background */
    padding: 33px; /* Add padding to the background */
    right: 24%;
    margin-top: 16%;
}
h1 {
    position: absolute;
    left: 7%;
    margin-top: -4%;
    color: red;
    font-size: 30px;
}
.Elman {
   margin-top: 18%;
   margin-left: 80%;
   width: 350px;
   height: auto;
}
.pil {
    position: absolute;
    margin-top: 20%;
    left: 76%;
    width: 150px;
    height: auto;
}
p, p2, p3, p4 {
    width: 50%;
    background-size: cover;
    background-color: green;
}
p {
    position: absolute;
    margin-left: 25%;
    margin-top: 27%;
    font-size: 24px;
    color: white;
}

p2 {
    position: absolute;
    margin-left: 25%;
    font-size: 24px;
    margin-top: 30%;
    color: white;
}
p3 {
    position: absolute;
    margin-left: 25%;
    font-size: 24px;
    margin-top: 33%;
    color: white;
}
p4 {
    position: absolute;
    margin-left: 25%;
    font-size: 24px;
    margin-top: 36%;
    color: white;
}
.A, .B, .C, .D {
    color: red
}

@media screen and (max-width: 1200px) {
    .pla {
        font-size: 40px;
        width: 30%;
        right: 35%;
        padding: 20px;
        margin-top: 17%;
    }
    h1 {
        font-size: 16px;
        left: 17%;
        margin-top: -6%;
    }

    .Elman {
        margin-top: 25%;
        width: 150px;
    }

    .pil {
        margin-top: 22%;
        width: 100px;
        left: 71%;
    }

    p, p2, p3, p4 {
        width: 30%;
        font-size: 16px;
    }

    p {
        margin-left: 30%;
        margin-top: 27%;
    }

    p2 {
        margin-left: 30%;
        margin-top: 33%;
    }

    p3 {
        margin-left: 30%;
        margin-top: 39%;
    }

    p4 {
        margin-left: 30%;
        margin-top: 44.5%;
    }
    body {
        background-size: contain;
    }
}
@media screen and (max-width: 768px) {
    .pla {
        font-size: 40px;
        width: 50%;
        right: 20%;
        padding: 20px;
        margin-top: 10%;
    }
    h1 {
        font-size: 12px;
        left: 20%;
        margin-top: -5%;
    }

    .Elman {
        margin-top: 23%;
        width: 100px;
    }

    .pil {
        margin-top: 22%;
        width: 50px;
        left: 75%;
    }

    p, p2, p3, p4 {
        width: 30%;
        font-size: 10px;
    }

    p {
        margin-left: 30%;
        margin-top: 25%;
    }

    p2 {
        margin-left: 30%;
        margin-top: 30%;
    }

    p3 {
        margin-left: 30%;
        margin-top: 35%;
    }

    p4 {
        margin-left: 30%;
        margin-top: 38%;
    }
    body {
        background-size: contain;
    }
}